.pdfjs-container .pdfViewer {

	display: grid;
	justify-items: center;
}

.pdfjs-container .page {
  box-sizing: content-box;
}

.pdfjs-container .page .annotationLayer .linkAnnotation {
	display: none;
}

.pdfjs-container .page .annotationLayer .linkAnnotation[data-internal-link] {
	display: initial;
}
